@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Supreme";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Supreme-Regular.otf") format("opentype");
  }

  @font-face {
    font-family: "Supreme";
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Supreme-Bold.otf") format("opentype");
  }

  * {
    cursor: none;
  }

  body {
    @apply font-supreme font-normal bg-gradient-to-br from-astro-blue via-astro-pink to-astro-red;
  }

  canvas {
    @apply w-full h-full fixed top-0 left-0 right-0 bottom-0 block;
  }
}

@layer components {
  .gl-container {
    @apply px-5 md:px-20;
  }

  .cursor-circle {
    @apply fixed z-50 flex flex-row items-center justify-center top-0 left-0 w-2.5 h-2.5 rounded-full pointer-events-none align-middle;
  }

  .bloc-logo {
    @apply relative w-full h-screen;
  }

  .noise-bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url("/assets/noise.png") repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation 0.6s infinite;
    opacity: 0.9;
    visibility: visible;
  }

  @keyframes bg-animation {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(-5%, -5%);
    }
    20% {
      transform: translate(-10%, 5%);
    }
    30% {
      transform: translate(5%, -10%);
    }
    40% {
      transform: translate(-5%, 15%);
    }
    50% {
      transform: translate(-10%, 5%);
    }
    60% {
      transform: translate(15%, 0);
    }
    70% {
      transform: translate(0, 10%);
    }
    80% {
      transform: translate(-15%, 0);
    }
    90% {
      transform: translate(10%, 5%);
    }
    100% {
      transform: translate(5%, 0);
    }
  }
}
